<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'Pick your city')">
    <link href="/css/pickCity.css" rel="stylesheet">
</head>

<body>
<th:block th:replace="template :: header" />

<div class="form-container d-flex justify-content-center align-items-center">
    <div class="form">
        <form th:object="${WeatherRequestFrom}" method="post" action="pick">
            <div class="mb-3">
                <label for="cityInput" class="form-label">Chosen city</label>
                <input type="text" th:field="*{city}" class="form-control" id="cityInput">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{Temperature}" class="form-check-input" id="temperatureCheck">
                <label class="form-check-label" for="temperatureCheck">Temperature</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{Wind}" class="form-check-input" id="windCheck">
                <label class="form-check-label" for="windCheck">Wind</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" th:field="*{Rain}" class="form-check-input" id="rainCheck">
                <label class="form-check-label" for="rainCheck">Rain</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<th:block th:replace="template.html :: footer" />
</body>
</html>
